.manage-doctor-container {
    .manage-doctor-title {
        padding: 5px;
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .more-infor {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        gap: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        outline: none;
        border: none;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
        background-color: orange;
        color: #fff;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
            background: red;
        }
    }
}