.manage-doctor-container {
    .manage-doctor-title {
        padding: 5px;
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .more-infor {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        gap: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }

    .manage-doctor-editor {
        padding-bottom: 20px;
    }

    .save-content-doctor {
        outline: none;
        border: none;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
        background-color: orange;
        color: #fff;
        cursor: pointer;
        display: flex;
        margin: 0 auto;

        &:hover {
            opacity: 0.9;
            background: red;
        }
    }

    .create-content-doctor {
        outline: none;
        border: none;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
        background-color: rgb(11, 93, 216);
        color: #fff;
        cursor: pointer;
        display: flex;
        margin: 0 auto;

        &:hover {
            opacity: 0.9;
        }
    }
}