.section-share {
    padding-bottom: 25px;

    .slick-list {
        // display: flex;
        margin-left: 20px !important;

    }

    .slick-prev {
        // border: 1px solid orange !important;
        border-radius: 10px !important;
        left: -30px !important;
        position: absolute !important;
        cursor: pointer;
        z-index: 999999;
        height: 44px !important;
        width: 48px !important;
        color: red;
    }

    .slick-next {
        // border: 2px solid red !important;
        border-radius: 10px !important;
        position: absolute !important;
        right: -1px !important;
        cursor: pointer;
        height: 44px !important;
        width: 48px !important;
    }

    .slick-disabled {
        display: none !important;
    }

    .slick-prev:before {
        font-size: 30px !important;
        color: black !important;
        margin-top: 20px !important;
    }

    .slick-next:before {
        font-size: 30px !important;
        color: black !important;
    }

    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
    }

    &.section-about {
        background: #f5f5f5;
        height: 500px !important;
    }

    .section-body {
        .section-customize {
            .bg-image {
                width: 278px;
                height: 150px;
                border-radius: 10px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #eee;
                text-align: center;

                &.section-specialty {
                    background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                }

                &.section-medical-facility {
                    background-image: url('../../assets/medical-facility/thu-cuc.jpg');
                }

                &.section-outstanding-doctor {
                    // background-image: url('../../assets/outstanding-doctor/bac-si-1.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-hand-book {
                    background-image: url('../../assets/cam-nang/nha-khoa.jpg');
                    border: 1px solid orange;
                }
            }
        }
    }

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // margin: 0 100px;

            .title-header {
                font-size: 20px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                outline: none;
                border: none;
                display: block;
                border-radius: 10px;
                background: #fff;
                margin-right: 30px;
                padding: 10px 15px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #f7d800;
                }
            }
        }
    }

    .section-about-content {
        padding: 0 100px;
        width: 100%;
        display: flex;
        gap: 15px;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;
            padding-top: 15px;

            p {
                text-align: justify;
                font-style: italic;
            }

        }

        iframe {
            border-radius: 10px;
            outline: none;
        }
    }

    .section-about-header {
        text-align: center;
        font-size: 22px;
        padding: 10px;
        font-weight: 600;
    }
}

.section-outstanding-doctor {
    .customize-boder {
        border: 1px solid orange;
        width: 280px;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;

        .position {
            color: black;

            &:hover {
                color: #45c3d2;
            }
        }

        .outer-bg {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}

.home-footer {
    font-size: 18px;
    height: 30px;
    background-color: black;
    color: #eee;

    p {
        text-align: center;
        line-height: 30px;

        a {
            text-decoration: none;
            color: #eee;
        }

        a:hover {
            color: #f7d800;
        }
    }
}