.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 25px;
    margin-bottom: -30px;
    position: fixed;
    top: 0;
    z-index: 90999999;
    background: #fff;
    border-radius: 0 0 20px 20px;
    border-bottom: 0.5px solid orange;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        // background-color: rgb(214, 214, 214);
        // border-radius: 0 0 10px 10px;


        .left-content {
            width: 25%;
            display: flex;
            align-items: center;
            cursor: pointer;

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
                // margin-right: -20px;
                margin-left: 30px;
                z-index: 9999999;
            }

            .header-logo {
                background: url('../../assets/images/logo.svg') center center no-repeat;
                height: 100%;
                width: 100%;
                background-size: 70%;
                margin-left: -30px;
                cursor: pointer;
            }
        }

        .center-content {
            display: flex;
            width: 50%;
            margin-top: 10px;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;

            .child-content {
                .sub-title {
                    font-size: 14px;
                }
            }

        }

        .right-content {
            display: flex;
            align-items: center;
            justify-content: right;
            width: 25%;
            padding-right: 50px;
            font-weight: 700;
            opacity: 1;

            .support {
                margin-right: 20px;
                cursor: pointer;
            }

            .language-vi {
                margin-right: 20px;
                cursor: pointer;

                &.active span {
                    color: orange;
                }
            }
        }


        .language-en {
            cursor: pointer;

            &.active span {
                color: blue;
            }
        }
    }
}


.home-header-banner {
    background: url('../../assets/images/background.jpg') center center no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    padding-top: 0;


    .content-up {
        height: 50%;
        padding-bottom: 50px;
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));

        .title1 {
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 8px;
            margin-top: 50px;
            padding-top: 50px;
        }

        .title2 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: white;
        }

        .search {
            display: flex;
            font-size: 20px;
            color: white;
            border-radius: 20px;
            border: none;
            width: 400px;
            background: #f7d800;
            justify-content: center;
            margin: 0 auto;
            padding: 5px;
            margin-top: 30px;

            input {
                width: 330px;
                height: 40px;
                border-radius: 20px;
                border: none;
                background: #f7d800;
                border: none;
                color: black;
                font-size: 16px;
                outline: none;
                background: transparent;
            }

            i {
                margin: 0 10px;
                padding-top: 10px;
                color: black;
            }
        }

    }

    .content-down {
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        border: none;

        .option {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding-bottom: 10px;

            .content-child {
                width: 130px;
                cursor: pointer;

                .content-icon {
                    display: flex;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    background: white;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;

                    i {
                        font-size: 30px;
                        color: #49bce2;
                    }

                }

                .content-text {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                }

                &:hover {
                    color: #49bce2;
                }

            }
        }
    }



}